/* add your CSS here */
body {
  background-color: #fffbf1;
  border: solid black 2px;
}
h1{
    border: solid black 2px;
	font-size:150px;
	margin-top: 10.4px;
	margin-right:3%;
	margin-left:3%;
}

img{
  width:300px;
  margin-left:25%;
  border: solid black 2px;
}
span{
  font-weight: 900;
}
#card .animal-info{
 /* border: 2px solid #7b7975;*/
  margin-left:3%;
  margin-right:3%;
  border: solid black 2px;
  border-radius: 5px;
  margin-bottom: 31px;
/*  padding: 2px;*/
/*  margin: 7px;*/
}
#facts{
	list-style-type: none;
}
#interesting-fact{
	font-style: italic;
    margin-left: 36px;
  	margin-right:3%;
}
#summary{
	 margin-left: 36px;
  	margin-right:3%; 
}
